.container-valores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 200px;
    margin-top: 48px;

}

.valores {
    width: 212px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.valores-img  {
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.valores-paragraph h5 {
    font-size: 16px;
    color: #16401C;
    margin-bottom: 6px;
}

.valores-paragraph p {
    font-size: 14px;
}
