.footer {
    background-color: #A68F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6px;
    margin-top: 84px;
}

.footer section {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 12px;
    padding: 12px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer.nav-link-footer {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


.footer p {
    text-align: start; /* Alinha o texto à esquerda no mobile */
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 300;
}

.footer h5 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 780px) {
    .footer {
        justify-content: flex-start; /* Alinha todo o conteúdo ao início no eixo principal */
        padding: 16px; /* Ajusta o espaçamento interno */
    }

    .footer section {
        display: flex;
        flex-direction: column; /* Muda para coluna no mobile */
        align-items: flex-start; /* Alinha os itens ao início no eixo cruzado */
        justify-content: flex-start; /* Alinha ao início no eixo principal */
        gap: 16px; /* Ajusta o espaçamento entre os itens */
        width: 100%; /* Garante que a largura seja responsiva */
        padding: 0; /* Remove padding desnecessário */
        margin-bottom: 16px;
    }

    .footer p {
        text-align: start; /* Alinha o texto à esquerda no mobile */
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 300;
    }

    .footer h5 {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bold;
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .social-media, .site-map {
        margin-bottom: 6px;
    }

}