.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-info {
    background: rgb(22, 64, 28);
    background: -moz-linear-gradient(52deg, rgba(22, 64, 28, 1) 56%, rgba(166, 143, 31, 1) 56%);
    background: -webkit-linear-gradient(52deg, rgba(22, 64, 28, 1) 56%, rgba(166, 143, 31, 1) 56%);
    background: linear-gradient(52deg, rgba(22, 64, 28, 1) 56%, rgba(166, 143, 31, 1) 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40px;
    gap: 500px;
    margin-bottom: 12px;
}

.info-one {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    /* Verifique se não faltou unidade (px) aqui */
}

.info-two {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 64px;
}

/* Logos */
.header-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

/* Nav */
.header-nav {
    display: flex;
    gap: 32px;
}

/* Estilo dos Links */
.nav-link {
    text-decoration: none;
    color: #A68F1F;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.active {
    background-color: #A68F1F;
    color: #FFFFFF;
}

/* Por padrão, esconde o menu mobile no desktop */
.mobile-menu-icon,
.mobile-nav-containe {
    display: none;
}

.mobile-nav-container {
    display: none;
}

.container-icon-logo {
    display: none;
}

/* Media Query para telas menores que 781px */
@media (max-width: 780px) {

    .header-info,
    .header-logos,
    .header-nav {
        display: none;
    }

    .container-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }

    .mobile-menu-icon {
        display: block;
        background: none;
        border: none;
        color: #16401C;
        font-size: 24px;
        cursor: pointer;
        margin-left: 16px;
    }

    .mobile-nav-container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 312px;
        background-color: #A68F1F;
        ;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        flex-direction: column;
        padding-top: 60px;
        z-index: 999;
    }

    .mobile-nav-container.open {
        transform: translateX(0);
    }

    .mobile-nav-container img {
        width: 115px;
        height: 68ox;
    }

    .mobile-nav-link {
        text-decoration: none;
        color: #16401C;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .mobile-nav-link.active {
        background-color: #A68F1F;
        color: #FFFFFF;
    }

    .mobile-info-one {
        width: 100%;
        height: 40px;
        background-color: #16401C;
    }

    .mobile-info-two {
        width: 100%;
        height: 20px;
        background-color: #A68F1F;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teste {
        background-color: #16401C;
        width: 100%;
        height: 40px;
    }

    .container-icon-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 69.13px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .info-two {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 10px;
    }

    .help {
        width: 50px;
        height: 50px;
        background-color: none;
    }

    .paragraph-oil-impact {
        padding: 0px 16px 0px 16px;
    }
}