.container-parceiros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.fechar-parceria {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-parceria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 580px;
    text-align: center;
}

.container-parceria h5 {
    color: #A68F1F;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.container-parceria button {
    padding: 12px;
    color: white;
    background-color: #A68F1F;
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.container-parceria p {
    font-size: 16px;
}

@media (max-width: 780px) {
    .clientes {
        flex-direction: column;
    }

    .container-parceiros p {
        text-align: center;
        width: 100%;
    }

    .clientes img {
        width: 150px;
    }
}