.container-apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 139px;
}
.container-card-shape {
    width: 370px;
    height: 556px;
    display: flex;
    flex-direction: column;
    position: relative; /* Necessário para posicionar os elementos filhos */
}

.container-card-apresentacao-1 {
    width: 370px;
    height: 272px;
    display: flex;
    z-index: 1; /* Garante que este card fique acima do círculo */
    margin-bottom: 12px; /* Espaçamento entre os cards */
}

.container-card-apresentacao-2 {
    width: 370px;
    height: 272px;
    display: flex;
    justify-content: end; /* Posiciona o segundo card à direita */
    z-index: 2; /* Garante que este card também fique acima do círculo */
}

.card-apresentacao {
    width: 200px;
    height: 272px;
    background-color: #D9D9D9;
    position: relative;
}

.shape-circle {
    width: 250px;
    height: 250px; /* Tornar a altura igual à largura para formar o círculo */
    background-color: #A5F2A2;
    border-radius: 50%; /* Faz o elemento ser um círculo */
    position: absolute; /* Permite posicionar o círculo livremente */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o ponto de origem para o centro */
    z-index: 0; /* Garante que o círculo fique atrás dos cards */
}


.container-content-paragraph-apresentacao {
    width: 328px;
    height: 235px;
}

.card-apresentacao video {
    width: 100%; /* O vídeo ocupa toda a largura do card */
    height: 100%; /* O vídeo ocupa toda a altura do card */
    object-fit: cover; /* Ajusta o vídeo para preencher o card sem distorcer */
    border-radius: 8px; /* Opcional: arredonda os cantos do vídeo */
}

.title-operacao {
    margin-bottom: -12px;
}

.container-operacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.paragraph-style {
    width: 894px;
    text-align: center;
}